.detalle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  background-color: rgba(127, 255, 212, 0.568);
  /* height: 100vh; */
}

.title-detalle {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid blue; */
  user-select: none;
}

.info {
  margin: 10px;
  /* border: 2px solid blue; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.7rem;
  user-select: none;
}

.data {
  /* border: 2px solid blue; */
}
