.formulario {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.formulario-input {
  font-size: 1.7rem;
  margin: 5%;
}

/* .form-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.form-button:hover {
  background-color: aquamarine;
} */

.form-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #45a049;
}

.error {
  text-align: center;
  color: red;
  font-size: 1.1rem;
}

.enviado {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(66, 154, 76);
  font-weight: bold;
  font-size: 1.1rem;
}
